<div class="list-area">
    <div class="title font-label">{{title}} Nội dung liên quan</div>
    <caph-list id="list-related-vod" container-class="list-container" wrapper-class="list-scroll-wrapper" items="item in relatedPlaylist" mouse-scroll-area-size="30">
        <div class="item" focusable="{depth: DEPTH.DETAIL,nextFocus:{up:'btnPlay'}}" on-focused="onRelatedVodFocused($event, CATEGORY.RELATED_PLAY_LIST, item,$index)" on-selected="onRelatedVodSelected($event, CATEGORY.RELATED_PLAY_LIST, item,$index)">
            <div class="loader" ng-show="item.loaded === false"></div>
            <div class="content" ng-hide="item.loaded === false" style="background: url({{item.photoUrl || ''}});-webkit-background-size:100% 100%;">
                <div class="text font-label">
                    <!--<div class="font-info">{{item.name}}</div>{{item.name}}</div>
            </div>-->
                </div>
    </caph-list>
    </div>