<!doctype html>
<html ng-app="vietteltv">

<head>
    <meta charset="utf-8">
    <title>Viettel TV</title>
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/w3.css">
    <link rel="stylesheet" href="styles/caph.min.css">
    <link rel="stylesheet" href="styles/smart-tv-keyboard-light.css">
    <link rel="stylesheet" href="styles/toaster.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

</head>

<body ng-controller="Controller">
    <toaster-container toaster-options="{'toaster-id': 1}"></toaster-container>
    <toaster-container toaster-options="{'toaster-id': 2,'position-class': 'toast-center'}"></toaster-container>

    <!-- Welcome : It will disappear when '$scope.isInitCompleted' become 'false'. -->
    <div class="welcome" ng-class="{'fade-out': isInitCompleted}">
        <!--<span class="caph">Viettel TV</span><br/>Giải trí không giới hạn-->
    </div>

    <div ng-style="{'border-color': overview.color,'background-image':  'url(' + bgSpotlightImgUrl + ')','background-size': bgSpotlightSize,'width':bgSpotlightWidth}" class="wrapper wrapper-spotlight background-layer background-mask spotlight-mask" ng-class="{'spotlight-fade-in':isSpotlightShown,'spotlight-fade-out':!isSpotlightShown}"></div>
    <div ng-style="{'border-color': overview.color,'background-image':  'url(' + bgMenuImgUrl + ')','background-size': bgMenuSize,'width':bgMenuWidth}" class="wrapper wrapper-spotlight background-layer background-mask menu-mask" ng-class="{'menu-fade-in':isMenuShown,'menu-fade-out':!isMenuShown}"></div>
    <div ng-style="{'border-color': overview.color,'background-image':  'url(' + bgImgUrl + ')','background-size': bgSize,'width':bgWidth}" class="wrapper wrapper-spotlight background-layer background-mask vod-mask" ng-class="{'vod-fade-in':isVodShown,'vod-fade-out':!isVodShown}"></div>
    <div ng-style="{'border-color': overview.color,'background-image': bgGradient1 + ', '+ bgGradient2}" class="wrapper wrapper-spotlight background-layer"></div>
    <div class="wrapper wrapper-spotlight wrapper-container" ng-include="'views/main.html'"></div>
    <!--<div ng-style="{'border-color': overview.color}" class="wrapper wrapper-spotlight" ng-include="'views/main.html'"></div>-->

    <!-- Video Player : It will be shown when '$scope.currentDepth' become 'DEPTH.PLAYER'. -->
    <caph-media id="player" class="player" ng-class="{'player-shown':isMediaLoaderHidden}" ischannel="isChannel" subtitle="setting.subTitle" on-play="toggleIsPlaying(true)" on-pause="toggleIsPlaying(false)" on-ended="toggleIsPlaying(false)">
        <video id="videoMainPlay" class="videoMainPlay" autoplay style="width: 100%;height:100%"></video>
        <caph-media-controls class="controls-bar" ng-class="{'fade-out': !showMediaController}" ng-mouseover="setMediaControllerTimer()">
            <div class="opacity-panel">
                <div class="operations">
                    <div focusable="{depth: DEPTH.PLAYER, name: 'btnPlayerRestart'}" class="btn-player" on-selected="controls.restart()">
                        <div class="btn-icon-player icon-caph icon-caph-prev"></div>
                    </div>
                    <div focusable="{depth: DEPTH.PLAYER, name: 'btnPlayerRewind'}" class="btn-player" on-selected="controls.rewind()">
                        <div class="btn-icon-player icon-caph icon-caph-rewind"></div>
                    </div>
                    <div focusable="{depth: DEPTH.PLAYER, name: 'btnPlayerPlay', initialFocus: true}" class="btn-player" on-selected="controls.togglePlay()">
                        <div class="btn-icon-player icon-caph" ng-class="{'icon-caph-pause': isPlaying, 'icon-caph-play': !isPlaying}"></div>
                    </div>
                    <div focusable="{depth: DEPTH.PLAYER, name: 'btnForward'}" class="btn-player" on-selected="controls.forward()">
                        <div class="btn-icon-player icon-caph icon-caph-forward"></div>
                    </div>
                    <div focusable="{depth: DEPTH.PLAYER, name: 'btnPlayerNext'}" class="btn-player" on-selected="controls.next()">
                        <div class="btn-icon-player icon-caph icon-caph-next"></div>
                    </div>
                </div>
            </div>
            <div class="setting-panel">
                <div focusable="{depth: DEPTH.PLAYER, name: 'btnPlayerReturn'}" class="btn-player-setting" on-selected="back()">
                    <div class="btn-icon-player-setting icon-caph icon-caph-return"></div>
                </div>
            </div>
        </caph-media-controls>
    </caph-media>

    <div class="media-loader" ng-class="{'media-loader-show':isMediaLoaderHidden !== true,'media-loader-hide':isMediaLoaderHidden === true}">
        <!--<div class="overview">
            <div class="font-header" ng-bind-html="overview.firstTitle"></div>
            <div class="font-header-small" ng-bind-html="overview.secondTitle"></div>
            <ul class="short-info" ng-show="overview.contentFormat">
                <li class="short-info-li short-info-1"><span class="short-info-1">{{overview.contentFormat}}</span></li>
                <li class="short-info-li short-info-2"><span class="short-info-2"> | {{overview.duration}} phút | </span></li>
                <li class="short-info-li short-info-3"><span class="short-info-3">{{overview.country}} | </span></li>
                <li class="short-info-li short-info-3"><span class="short-info-3">{{overview.genres}}</span></li>
            </ul>
        </div>-->
        <div class="loader"></div>
    </div>
    <div class="main-loader" ng-class="{'main-loader-show':isMainLoaderShown,'main-loader-hide':!isMainLoaderShown}">
        <div class="loader"></div>
    </div>

    <!-- Setting dialog : It will be shown when the 'setting' button is clicked by user. -->
    <caph-dialog focus-option="dialog.focusOption" center="true" show="dialog.show" style="width:800px;">
        <caph-dialog-title>{{dialog.title}}</caph-dialog-title>
        <caph-dialog-content>
            <div class="caph-dialog-message" ng-bind-html="dialog.message"></div>
        </caph-dialog-content>
        <caph-dialog-buttons ng-if="dialog.isConfirm" button-type="confirm" on-select-button="dialog.onSelectButton($buttonIndex, $event)"></caph-dialog-buttons>
        <!--<caph-dialog-buttons ng-if="!dialog.isConfirm" button-type="alert" on-select-button="dialog.onSelectButton($buttonIndex, $event)"></caph-dialog-buttons>-->
    </caph-dialog>
    <caph-dialog focus-option="warning.focusOption" center="true" show="warning.show" style="width:800px;">
        <caph-dialog-title>{{dialog.title}}</caph-dialog-title>warning
        <caph-dialog-content>
            <div class="caph-dialog-message" ng-bind-html="warning.message"></div>
        </caph-dialog-content>
        <!--<caph-dialog-buttons ng-if="dialog.isConfirm" button-type="confirm" on-select-button="dialog.onSelectButton($buttonIndex, $event)"></caph-dialog-buttons>-->
        <!--<caph-dialog-buttons ng-if="!dialog.isConfirm" button-type="alert" on-select-button="dialog.onSelectButton($buttonIndex, $event)"></caph-dialog-buttons>-->
    </caph-dialog>
    <caph-dialog focus-option="alert.focusOption" center="true" show="alert.show" style="width:800px;">
        <caph-dialog-title>{{alert.title}}</caph-dialog-title>warning
        <caph-dialog-content>
            <div class="caph-dialog-message" ng-bind-html="alert.message"></div>
        </caph-dialog-content>
        <!--<caph-dialog-buttons ng-if="dialog.isConfirm" button-type="confirm" on-select-button="dialog.onSelectButton($buttonIndex, $event)"></caph-dialog-buttons>-->
        <caph-dialog-buttons button-type="alert" on-select-button="alert.onSelectButton($buttonIndex, $event)"></caph-dialog-buttons>
    </caph-dialog>
    <div id="login-page" class="login-page-wrapper">
        <div class="login-page">
            <div class="logo login"></div>
            <div class="login-page-title">Đăng nhập</div>

            <div class="login-page-container">
                <div class="smarttv-keyboard-holder"></div>
                <div class="login-form-wrapper">
                    <div class="login-form">
                        <div class="login-row login-account-row">
                            <span class="login-input-lable password-label">Số điện thoại:</span>

                            <input id="username" readonly type="text" size="40" class="login-input login-account-input" title="Bước 1: Nhập Số điện thoại (vd 0988666888)" ng-model="login.username">
                            <div class="smart-tv-keyboard"></div>
                        </div>
                        <div class="login-row login-pass-row">
                            <span class="login-input-lable password-label">Mật khẩu     :</span>
                            <input id="password" readonly type="password" size="40" class="login-input login-password-input" title="Bước 2: Nhập Mật khẩu" ng-model="login.password">
                            <div class="smart-tv-keyboard"></div>
                        </div>

                    </div>
                </div>
                <div class="buttom-row-wrapper">
                    <div class="button-row">
                        <div class="btn btn-gap" ng-class="{ 'btn-login-cancel':true, 'btn-resume': false}" ng-click="onLoginCancelButtonSelected($event)">
                            <div class="btn-icon"></div>
                            <!--<div class="btn-icon icon-caph icon-caph-play"></div>-->
                        </div>

                        <div class="btn btn-gap" ng-class="{ 'btn-login':true, 'btn-resume': false}" ng-click="onLoginButtonSelected($event)">
                            <div class="btn-icon"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-page-guide">(* Vui lòng tải App ViettelTV cho điện thoại tại Google Play Store hoặc Apple Store để đăng ký tài khoản. Sau đó sử dụng tài khoản này để đăng nhập trên SmartTV)</div>

        </div>
    </div>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/crypto-js/crypto-js.js"></script>
    <script src="bower_components/fingerprintjs2/fingerprint2.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/hls.js/dist/hls.js"></script>
    <!-- endbower -->
    <script src="bower_components/mdo-http-auth-interceptor/http-auth-interceptor.js"></script>
    <!-- endbuild -->
    <script type="text/javascript" src="scripts/custom/smarttv-keyboard-1.0.1/en-boxed.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script type="text/javascript" src="scripts/custom/caph/caph-angular.min.js"></script>
    <script type="text/javascript" src="scripts/custom/smarttv-keyboard-1.0.1/smartTvKeyboard.js"></script>
    <script type="text/javascript" src="scripts/custom/toaster-2.1.0/toaster.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/directives/list.js"></script>
    <script type="text/javascript" src="scripts/directives/caphMedia.js"></script>
    <script type="text/javascript" src="scripts/directives/animation.js"></script>
    <script type="text/javascript" src="scripts/utils/constant.js"></script>
    <script type="text/javascript" src="scripts/service/data.service.js"></script>
    <script type="text/javascript" src="scripts/service/ultil.service.js"></script>
    <script type="text/javascript" src="scripts/service/video.service.js"></script>
    <script type="text/javascript" src="scripts/service/account.service.js"></script>
    <script type="text/javascript" src="scripts/service/auth.alti.service.js"></script>
    <script type="text/javascript" src="scripts/service/auth.service.js"></script>
    <script type="text/javascript" src="scripts/service/login.service.js"></script>
    <script type="text/javascript" src="scripts/service/principal.service.js"></script>
    <script type="text/javascript" src="scripts/interceptor/auth.interceptor.js"></script>
    <script type="text/javascript" src="scripts/controllers/controller.js"></script>
    <script type="text/javascript" src="scripts/utils/init.js"></script>

    <!-- endbuild -->

</body>

</html>